.experiences{
    display: flex;
    height: 55vh;
    align-items: center;
    justify-content: center;
    background-image: url('https://image.shutterstock.com/image-photo/close-woman-hands-coding-html-260nw-1094703257.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texts-container > h1{
    color: #fff;
    font-size: 50px;
    margin-top: -50px;
    text-align: center;
   }
   
   .texts-container > p {
       text-align: center;
       margin-top: 2px;
       color: #fff;
       font-size: 25px;
       font-family: 'Trebuchet HS', 'Lucida Sans Unicode','Lucida Grande',
       'Lucida Sans', Arial, sans-serif ;
   }
/*
   .section-1{
    height: 65vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(56, 125, 255, 0.17);
    
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear; 
  }

  .section-2{
    height: 65vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(56, 125, 255, 0.17); 
  }*/

  .sections-container{
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    padding-inline-end: 5%;
    padding-inline-start: 4%;
  }
    
 .sections-container{
        display: flex;
        flex: 1;
        margin: 0 1rem;
        border-radius: 10px;
        
      }

.section-1{
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 55, 55, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 50px;
  overflow: hidden;
  text-decoration: none;
  height: 60vh;
  object-fit: contain;
  text-align: center;
  margin-inline-end: 25px;
}

.texts-1{
    margin-top: 120px;
    font-size: 20px;
    font-family: 'Trebuchet HS', 'Lucida Sans Unicode','Lucida Grande',
  'Lucida Sans', Arial, sans-serif ;
}

.texts-2{
    color: #9601a3;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Trebuchet HS', 'Lucida Sans Unicode','Lucida Grande',
  'Lucida Sans', Arial, sans-serif ;
}

.texts-3{
    font-family: 'Trebuchet HS', 'Lucida Sans Unicode','Lucida Grande',
    'Lucida Sans', Arial, sans-serif ;
    font-size: 12px;
    margin-top: 30px;
}

.section-2{
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 55, 55, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 50px;
    overflow: hidden;
    text-decoration: none;
    height: 60vh;
    object-fit: contain;
    text-align: center;
    margin-inline-end: 25px;
}

.section-3{
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 55, 55, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 50px;
    overflow: hidden;
    text-decoration: none;
    height: 60vh;
    object-fit: contain;
    text-align: center;
}
  
  /*display these features if the screen size is minimized*/
      
      @media screen and (max-width: 768px) {
        .section-texts > h1{
            font-size: 10px;
            margin-top: 60px;
          
           }  
           
           .section-texts > p{
               font-size: 9px;
               margin: 0 50px;
           }
          }